<main class='main'>
  <section class='pedidos'>
    <h2>Lista de Pedidos</h2>
    {{#if orders}}
      <div class='pedidos__lista'>
        {{#each orders}}
          <div class='pedido__item'>
            <h3>Pedido #{{this.id}}</h3>
            <p>Cliente: {{this.user.name}}</p>
            <p>Status: {{this.status}}</p>
            <p>Data: {{this.createdAt}}</p>
            <div class='pedido__produtos'>
              <h4>Produtos:</h4>
              {{#each this.products}}
                <div class='produto__item'>
                  <p>{{this.name_prod}} - R$ {{this.price_prod}}</p>
                  <p>Quantidade: {{this.OrderProduct.quantity}}</p>
                </div>
              {{/each}}
            </div>
            <p class='pedido__total'>Total: R$ {{this.total}}</p>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p class='pedidos__vazio'>Nenhum pedido encontrado.</p>
    {{/if}}
  </section>
  <div class='cadastro--btn-back'>
    <a href='#'>Voltar</a>
  </div>
</main>